
{{!-- will mess with padding and column size once data is being pulled from database --}}
<div class="col-3 m-2">
    <div class="card">
        <div class="card-body">
            {{!-- need question from database --}}
            <h5 class="card-title">Card Question</h5> 
            {{!-- need answer from database --}}
            <p class="card-text">Card Answer</p>
        </div>
    </div>
</div>