

{{!-- section to create a new card  --}}
<div class="row" id="createCard">
    <div class="col d-flex flex-wrap justify-content-center">
        <form id="newCardForm">
            <div id="dropDown">
                <label for="category" class="card-labels">Select Category You Would Like To Add A New Card:</label>
                <select class="form-control" id="category">

                </select>

                <p class="card-labels">Click the <a href="/create">here</a> to add a New Category!</p>
                {{!-- <button></button> --}}
            </div>

            <label for="questionInputs" class="card-labels">Input Question:</label>
            <textarea type="text" placeholder="What do you need to ask yourself?" id="questionInput"></textarea>

            <label for="answerInput" class="card-labels">Input Answer Here:</label>
            <textarea type="text" placeholder="If your answer isn't 42, you're wrong!" id="answerInput"></textarea>

            <button type="submit" class="create-card">Create Card</button>

        </form>
    </div>
</div>

{{!-- <button><a href="/create">add new category</a></button> --}}




</div>



{{!-- <footer id="sticky-footer" class="py-2 bg-dark text-light">
    <div class="container text-center">
        <p>Copyright &copy; Your Website</p>
    </div>
</footer> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script type="text/javascript" src="/js/cardFunctions.js"></script>