
<div id="jumbotwo" class="jumbotron jumbotron-fluid">
  <div class="container">
    <a id="logout" class="navbar-brand" href="/logout">Logout</a>
    <h1 id="welcome" class="display-4">WELCOME</h1>
    <p class="lead"></p>

    <h2 id="membername"><span class="member-name"></span></h2>
        {{!-- <a href="/create">Link here</a> --}}
  </div>
</div>

<div id="jumbothree" class="jumbotron jumbotron-fluid">
  <div class="container">
    {{!-- <h1 class="display-4">Review</h1> --}}
    <a id="review" class="navbar-brand" href="/review">REVIEW</a>
    <p class="lead"></p>
  </div>
</div>

<div id="jumbofour" class="jumbotron jumbotron-fluid">
  <div class="container">
    <a id="review" class="navbar-brand" href="/card">CREATE</a>
    <p class="lead"></p>
  </div>
</div>

<div id="jumbofive" class="jumbotron jumbotron-fluid">
  <div class="container">
    <a id="review" class="navbar-brand" href="/takequiz">TAKE QUIZ</a>
    <p class="lead"></p>
  </div>
</div>



{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav> --}}
  {{!-- <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
        
        <a href="/create">Create New Cards</a>
      </div>
    </div>
  </div> --}}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>