{{!-- navbar with name, sign in/out stuff --}}
{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="place-content:center">
  <a class="navbar-brand justify-content-center" href="#">FLASHE<span style="color:yellow;">Я</span>!</a>
</nav> --}}

{{!-- section to create a new card  --}}
<div class="row">
    <div class="col d-flex justify-content-center">
        {{!-- <form id="newCardForm"> --}}
            <td>
                <div id="dropDown">
                    <label for="category">Select Category</label>
                    {{!-- renders categories from DB --}}
                    <select class="form-control" id="category"></select>
                </div>
            </td>

    </div>
</div>


<div class="row">
    <div class="col d-flex flex-wrap justify-content-center" id="cards">
    </div>
</div>

{{!-- <footer id="sticky-footer" class="py-2 bg-dark text-light">
    <div class="container text-center">
            <a class="h5 text-light" href="/members">Return to Menu</a>
    </div>
</footer> --}}



{{!-- modal --}}
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-Primary" data-dismiss="modal">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/review.js"></script>



