body {
  background-color: rgb(78, 78, 158);
}

form.signup,
form.login {
  margin-top: 50px;
}

#sticky-footer {
  flex-shrink: none;
}

#flasher {
  color: crimson;
  text-align: center;
  margin: auto;
}


#logout {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  text-decoration: underline;
}

#jumboone {
  padding-bottom: -40%;
  text-emphasis: under;
}

#jumbotwo {
  height: 250px;
}

#jumbothree {
  text-align: center;
}

#review {
  color: crimson;
  font-size: 36pt;
}

#jumbofour {
  text-align: center;
}

#jumbofive {
  text-align: center;
}

#welcome {
  text-align: center;
  color: crimson;
}

#membername {
  text-align: center;
  color: crimson;
}
