body {
  background-color: rgb(78, 78, 158);
}

form.signup,
form.login {
  margin-top: 50px;
}

.navbar-brand {
  font-size: 28px;
}

#sticky-footer {
  flex-shrink: none;
}

#flasher {
  color: crimson;
  text-align: center;
  margin: auto;
}


#logout {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 12px;
  text-decoration: underline;
}

#jumboone {
  padding-bottom: -40%;
  text-emphasis: under;
  
}

#jumbotwo {
  height: 250px;
  font-weight: bold;
}

#jumbothree {
  text-align: center;
}

#review {
  color: crimson;
  font-size: 36pt;
}

#jumbofour {
  text-align: center;
}

#jumbofive {
  text-align: center;
}

#welcome {
  text-align: center;
  color: crimson;
}

#membername {
  text-align: center;
  color: crimson;
}

/* card page */

#dropDown{
  padding-bottom: 2.5rem;
}

.card-labels{
  color: white;
}

#questionInput, #answerInput{
  display: block;
  width: 30rem;
  resize: none;
  height: 5rem;
}

/* create category */
#newCategory{
  display: block;
  width: 20rem;
  height: 2.5rem
}

