{{!-- This is the general format:  --}}

{{!-- <a class="dropdown-item" href="#">Category1</a> --}}

{{!-- So, as a partial it should look like... --}}

{{!--  just needs the code for pulling from the database --}}
<a class="dropdown-item" href="#">{{name}}</a> 